<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HOME</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='main.css')}}">
</head>
<body class="bg">
<!-- <nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul>
    </div> 
  </div>
</nav> 
 -->
<div id="home-container">
<div>  
  <a href="/login"><button type="submit"class="login"><h3>Login</h3></button></a><br>
</div>
<div>  
  <a href="/register"><button type="submit" class="login"><h3>Register</h3></button></a><br>
</div>
</div>

<script>
  window.watsonAssistantChatOptions = {
    integrationID: "d8abe577-7e49-4a77-82d3-4530722db635", // The ID of this integration.
    region: "au-syd", // The region your integration is hosted in.
    serviceInstanceID: "d060c8b8-10ea-4bd7-812f-184eee60544f", // The ID of your service instance.
    onLoad: function(instance) { instance.render(); }
  };
  setTimeout(function(){
    const t=document.createElement('script');
    t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
    document.head.appendChild(t);
  });
</script>
</body>
</html>